@using PharmaMoov.Models.Product
@model IEnumerable<ProductCategoriesDTO>

@{
    ViewData["Title"] = "Liste des catégories";
    Layout = "~/Views/Shared/_SALayout.cshtml";
}

<partial name="~/Views/ProductCategory/_AddProductCategory.cshtml" />
<partial name="~/Views/ProductCategory/_EditProductCategory.cshtml" />

<div class="row p-3 p-lg-5">
    <div class="col-sm-12">
        <nav aria-label="breadcrumb">
            <h3>Liste des catégories</h3>
        </nav>

        <div class="col-sm-12 d-flex justify-content-end mb-3">
            <a class="btn login-button btn-padding waves-effect waves-light" onclick='loadAddModal();'>Nouvelle catégorie</a>
        </div>

        <div class="card">
            <div class="card-body">
                <div class="row mb-4">
                    <div class="col-sm-12 col-md-6">
                        <!-- Search form -->
                        <div class="form-inline">
                            <input class="form-control form-control-sm mr-3 w-75" id="SearchTables" type="text" placeholder="Chercher une catégorie..." aria-label="Search">
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="form-check form-check-inline mt-2" id="FeaturedDiv">
                            <label class="form-check-label mr-2" for="IsFeaturedChk">Catégorie d'exposition</label>
                            <input type="checkbox" name="featuredList" class="form-check-input" value="True" id="IsFeaturedChk">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <div class="table-responsive-sm">
                                    <table class="table table-hover table-bordered display table-striped" id="dtMainList">
                                        <thead class="thead-light">
                                            <tr>
                                                @*<th scope="col" class="th-sm font-weight-bold d-none">#</th>*@
                                                <th scope="col" class="th-sm font-weight-bold">ID</th>
                                                <th scope="col" class="th-sm font-weight-bold" hidden>Boolean Status</th>
                                                @* <th scope="col" class="th-sm font-weight-bold">Image de la catégorie</th> *@
                                                <th scope="col" class="th-sm font-weight-bold">Nom de la catégorie </th>
                                                <th scope="col" class="th-sm font-weight-bold">Date de création</th>
                                                <th scope="col" class="th-sm font-weight-bold" hidden>Catégorie en vedette</th>
                                                <th scope="col" class="th-sm font-weight-bold">Statut</th>
                                                <th scope="col" class="th-sm font-weight-bold">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (Model != null)
                                            {
                                                var ctr = 1;
                                                @foreach (var prod in Model)
                                                {
                                                    <tr>
                                                        @*<td class="d-none">@ctr</td>*@
                                                        <td class="categoryID">@prod.ProductCategoryId</td>
                                                        <td class="categoryStatus" hidden>@prod.IsActive</td>
                                                        @* <td class="categoryImage"><img src="@prod.ProductCategoryImage" style='width:75px;height:75px;'></td> *@
                                                        <td class="categoryName">@prod.ProductCategoryName</td>
                                                        <td class="text-capitalize">@prod.DateCreated.ToString("dd MMM yyyy")</td>
                                                        <td class="isCategoryFeatured" hidden>@prod.IsCategoryFeatured</td>
                                                       
                                                        @if (prod.IsActive == true)
                                                        {
                                                            <td><p class="badge badge-primary">ACTIF</p></td>
                                                        }
                                                        else
                                                        {
                                                            <td><p class="badge badge-light text-white">INACTIF</p></td>
                                                        }
                                                        <td><h5><a class="text-success action-edit"><i class="fas fa-edit"></i></a></h5></td>
                                                    </tr>
                                                    ctr++;
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            //Super Admin > Add / Edit Product Category
            $("#imageLoadingUploadProductCategoryImage").hide();
            $(".spinner-border").hide();

            //add new category image
            $("#UploadProductCategoryImage").change(function () {
                validateProductImageFiles("UploadProductCategoryImage");
            });

            //edit category image
            $("#EditProductCategoryImage").change(function () {
                validateProductImageFiles("EditProductCategoryImage");
            });
            //Super Admin > Add / Edit Product Category

            var dtMainList = $('#dtMainList').DataTable({
                "info": false,
                "lengthChange": false,
                "language": {
                    "info": "Afficher de _START_ à _END_ sur _TOTAL_ entrées",
                    "emptyTable": "Aucune donnée disponible dans le tableau",
                    "infoEmpty": "Affichage 0 à 0 sur 0 entrées",
                    "search": "Cherchez:",
                    "paginate": {
                        "first": "Premier",
                        "last": "Dernier",
                        "next": "Suivant",
                        "previous": "Précédent"
                    }
                },
            });

            //Search field
            $("#SearchTables").on('keyup click', function () {
                dtMainList.search($("#SearchTables").val(), true, true, true).draw();
            });

            //Is Popular Filter
            $.fn.dataTable.ext.search.push(
                function (settings, searchData, index, rowData, counter) {
                    var popular = $('input:checkbox[name="featuredList"]:checked').map(function () {
                        return this.value;
                    }).get();

                    if (popular.length === 0) {
                        return true;
                    }

                    //check column 5 (IsCategoryFeatured)
                    if (popular.indexOf(searchData[5]) !== -1) {
                        return true;
                    }

                    return false;
                }
            );

            //redraw table 
            $('input:checkbox').on('change', function () {
                dtMainList.draw();
            });

            $('#dtMainList_filter').attr("hidden", true); //Hide the Default Filter row
            $('.dataTables_length').addClass('bs-select');
        });

        $(document).on('click', 'a.action-edit', function () {
            $('#EditProdCategoryModal').modal("show");
            $('#error-msg-edit').text('');

            var categoryID = $(this).closest("tr").find(".categoryID").text();
            var categoryName = $(this).closest("tr").find(".categoryName").text();
            var categoryImage = $(this).closest("tr").find("img").attr("src");
            var categoryFeatured = $(this).closest("tr").find(".isCategoryFeatured").text();

            var categoryStatus = $(this).closest("tr").find(".categoryStatus").text();
            
            if (categoryStatus == 'True') {
                categoryStatus = 1;
            }
            else {
                categoryStatus = 0;
            }

            $('#CategoryID').val(categoryID);
            $('#CategoryName').val(categoryName);
            $("#IsEnabled").val(categoryStatus);

            //check if IsCategoryFeatured
            if (categoryFeatured == "True")
            {
                $("#IsCategoryFeaturedEdit").prop("checked", true);
            } else
            {
                $("#IsCategoryFeaturedEdit").prop("checked", false);
            }

            //Category Icon Image 
            $('#ProductCategoryImage').val(categoryImage);
            var ProductCategoryImage = $('#ProductCategoryImage').val();

            if (ProductCategoryImage != "") {
                $("#imgPrevEditProductCategoryImage").attr("src", ProductCategoryImage);
                $("#imgPrevEditProductCategoryImage").show();
            }
            //Category Icon Image 

        });

        function loadAddModal() {
            $('#AddProdCategoryModal').modal("show");
            $('#ProductCategoryName').val("");
            $('#error-msg').text('');
        }

        function saveCategory() {
            var cName = $('#ProductCategoryName').val();
            var cImage = $('#ProductCategoryImage').val();
            var isActive = $('#IsActive').val();
            var isFeatured = $("input[id='IsCategoryFeatured']:checked").val();

            if (cName == '') {
                $('#error-msg').text("Nom de la catégorie requis");
            }
            else {

                if (isActive == 0) {
                    isActive = "false";
                }
                else {
                    isActive = "true";
                }

                if (isFeatured == "on") {
                    isFeatured = true;
                } else
                {
                    isFeatured = false;
                }

                var parameters = {
                    ProductCategoryName: cName,
                    ProductCategoryImage: cImage,
                    IsActive: isActive,
                    IsCategoryFeatured: isFeatured
                };

                $.ajax(
                    {
                        type: 'POST',
                        url: BASEPATH + '/ProductCategory/AddProductCategory',
                        contentType: 'application/json',
                        data: JSON.stringify(parameters),
                        success: function (result) {
                            if (result.statusCode == 200) {
                                window.location.replace(BASEPATH + "/ProductCategory/");
                            }
                            else {
                                $('#error-msg').text(result.message);
                            }
                        },
                        failed: function (e, x, h) {
                            console.log(e); console.log(h); console.log(x);
                        }
                    }
                );
            }
        }

        function editCategory() {
            var catID = $('#CategoryID').val();
            var cName = $('#CategoryName').val();
            var cImage = $('#ProductCategoryImage').val();
            var isActive = $('#IsEnabled').val();
            var isFeaturedVal = $("input[id='IsCategoryFeaturedEdit']:checked").val();
            
            if (cName == '') {
                $('#error-msg-edit').text("Nom de la catégorie requis");
            }
            else {

                if (isActive == 0) {
                    isActive = "false";
                }
                else {
                    isActive = "true";
                }

                var isFeaturedBool = false;
                if (isFeaturedVal == "on") {
                    isFeatured = true;
                } else {
                    isFeatured = false;
                }

                var parameters = {
                    ProductCategoryId: catID,
                    ProductCategoryName: cName,
                    ProductCategoryImage: cImage,
                    IsActive: isActive,
                    IsCategoryFeatured: isFeatured
                };

                $.ajax(
                    {
                        type: 'POST',
                        url: BASEPATH + '/ProductCategory/EditProductCategory',
                        contentType: 'application/json',
                        data: JSON.stringify(parameters),
                        success: function (result) {
                            if (result.statusCode == 200) {
                                window.location.replace(BASEPATH + "/ProductCategory/");
                            }
                            else {
                                $('#error-msg-edit').text(result.message);
                            }
                        },
                        failed: function (e, x, h) {
                            console.log(e); console.log(h); console.log(x);
                        }
                    }
                );
            }
        }
    </script>
}
