@using PharmaMoov.Models.User
@model List<User>  
@{
    ViewData["Title"] = "Liste de Clients";
    Layout = "~/Views/Shared/_SALayout.cshtml";
}

<div class="row p-3 p-lg-5">
    <div class="col-sm-12">
        <nav aria-label="breadcrumb">
            <h3 class="mb-4">Liste de Clients</h3>
        </nav>
        <div class="col-sm-12 d-flex justify-content-end mb-3">
            <a class="btn login-button btn-padding" id="thisExportBtn" href="#">Exporter dans Excel</a>
        </div>

        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <div class="table-responsive-sm">
                                    <table class="table table-hover table-bordered table-striped display" id="dtCustomerList">
                                        <thead class="thead-light">
                                            <tr>
                                                <th scope="col" class="th-sm font-weight-bold"> Utilisateur Non.
                                                </th>
                                                <th scope="col" class="th-sm font-weight-bold">Photo du profil </th>
                                                <th scope="col" class="th-sm font-weight-bold">Nom</th>
                                                <th scope="col" class="th-sm font-weight-bold">Email</th>
                                                <th scope="col" class="th-sm font-weight-bold">Numéro de telephone</th>
                                                <th scope="col" class="th-sm font-weight-bold">Date de création</th>
                                                <th scope="col" class="th-sm font-weight-bold">Statut</th>
                                                <th scope="col" class="th-sm font-weight-bold">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (Model != null)
                                            {
                                                foreach (User rUser in Model)
                                                {
                                                    <tr>
                                                        <td>@rUser.UserRecordID</td>
                                                        <td>
                                                            @if (rUser.ImageUrl != null)
                                                            {
                                                                <img src="@rUser.ImageUrl" style='width:75px;height:75px;'>
                                                            }
                                                            else
                                                            {
                                                                <img src="~/img/default-img.png" style='width:75px;height:75px;'>
                                                            }
                                                        </td>
                                                        <td>@rUser.FirstName @rUser.LastName</td>
                                                        <td>@rUser.Email</td>
                                                        <td>+@rUser.MobileNumber</td>
                                                        <td>@rUser.CreatedDate.GetValueOrDefault().ToString("dd MMM yyyy")</td>
                                                        <td>
                                                            @if (rUser.IsEnabled == true)
                                                            {
                                                                <p class="badge badge-primary text-uppercase">Actif</p>
                                                            }
                                                            else 
                                                            {
                                                                <p class="badge badge-light text-uppercase">Inactif</p>
                                                            }
                                                        </td>
                                                        <td>
                                                            <button class="btn btn-action dropdown-toggle" type="button" data-toggle="dropdown"
                                                                    aria-haspopup="true" aria-expanded="false">
                                                                <i class="fas fa-bars"></i>
                                                            </button>
                                                            <div class="dropdown-menu">
                                                                <a class="dropdown-item" href="~/UserMgt/EditCustomer?CustomerID=@rUser.UserRecordID">Afficher / modifier l'utilisateur</a>
                                                                @if (rUser.IsEnabled == true)
                                                                {
                                                                    <a class="dropdown-item text-gray" onclick="changeStatus(@rUser.UserRecordID, false)">Marquer comme inactif</a>
                                                                }
                                                                else
                                                                {
                                                                    <a class="dropdown-item text-gray" onclick="changeStatus(@rUser.UserRecordID, true)">Marquer comme actif</a>
                                                                } 
                                                            </div>
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#dtCustomerList').DataTable({
                "dom": 'Bfrtip',
                "buttons": [
                    {
                        text: 'Excel to Export',
                        extend: 'excelHtml5',
                        fieldSeparator: '\t',
                        extension: '.xlsx',
                        attr: {
                            id: 'exportBtn',
                            hidden: 'hidden'
                        },
                        className: 'login-button btn-padding',
                        exportOptions: {
                            columns: [0, 2, 3, 4, 5, 6]
                        }
                    }
                ],
                "info": true,
                "searching": [
                    {
                        attr: {
                            id: 'searchTxt',
                            hidden: 'hidden'
                        },
                    }
                ],
                "lengthChange": false,
                "language": {
                    "info": "Afficher de _START_ à _END_ sur _TOTAL_ entrées",
                    "emptyTable": "Aucune donnée disponible dans le tableau",
                    "infoEmpty": "Affichage 0 à 0 sur 0 entrées",
                    "search": "Cherchez:",
                    "paginate": {
                        "first": "Premier",
                        "last": "Dernier",
                        "next": "Suivant",
                        "previous": "Précédent"
                    }
                },
            });

            $('.dataTables_length').addClass('bs-select'); 
            $('input[type=search]').addClass('form-control');

            $("#thisExportBtn").click(function () {
                $("#exportBtn").click();
            });
        });

        function changeStatus(rid, stat) {
            var parameters = {
                RecordId: rid,
                IsActive: stat
            };
            $.ajax(
                {
                    type: 'POST',
                    url: BASEPATH + '/UserMgt/ChangeUserStatus',
                    contentType: 'application/json',
                    data: JSON.stringify(parameters),
                    beforeSend: function () {
                        $("#GenericModal").modal('show');
                        $("#GenericModalTitle").text("Merci de patienter");
                        $("#savingGenericLoader").show();
                    },
                    success: function (result) {
                        window.location.replace(BASEPATH + "/UserMgt/Customers");
                    },
                    failed: function (e, x, h) {
                        console.log(e); console.log(h); console.log(x);
                    }
                }
            );
        }
    </script>
}