@using PharmaMoov.Models.Prescription
@model IEnumerable<PrescriptionDetail>

@{
    ViewData["Title"] = "Prescription Request";
}
<style type="text/css">
    .tdDesc {
        max-width: 250px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
</style>

<div class="row p-3 p-lg-5">
    <div class="col-sm-12">
        <nav aria-label="breadcrumb">
            <h3 class="mb-4">
                Demande de prescription
            </h3>
        </nav>

        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <div class="table-responsive-sm">
                                    <table class="table table-hover table-bordered table-striped display" id="dtPrescriptionList">
                                        <thead class="thead-light">
                                            <tr>
                                                <th scope="col" class="th-sm font-weight-bold">ID</th>
                                                <th scope="col" class="th-sm font-weight-bold">Nom du client</th>
                                                <th scope="col" class="th-sm font-weight-bold">Email</th>
                                                <th scope="col" class="th-sm font-weight-bold">Description</th>
                                                <th scope="col" class="th-sm font-weight-bold">Date de créatuin</th>
                                                <th scope="col" class="th-sm font-weight-bold">Statut</th>
                                                <th scope="col" class="th-sm font-weight-bold">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            @if (Model != null)
                                            {
                                                var ctr = 1;
                                                @foreach (var item in Model)
                                                {
                                                    <tr>
                                                        <td>@item.PrescriptionRecordId</td>
                                                        <td>@item.CustomerName</td>
                                                        <td>@item.CustomerEmail</td>
                                                        <td class="tdDesc">@item.MedicineDescription</td>
                                                        <td>@item.DateCreated.ToString("dd MMM yyyy")</td>
                                                        @if (item.PrescriptionStatus == PharmaMoov.Models.PrescriptionStatus.APPROVED)
                                                        {
                                                            <td><p class="badge badge-success text-uppercase">Approved</p></td>
                                                        }
                                                        else
                                                        {
                                                            <td><p class="badge badge-warning text-uppercase text-dark">Pending</p></td>
                                                        }
                                                        <td class="text-center">
                                                            <button class="btn btn-action dropdown-toggle" type="button" data-toggle="dropdown"
                                                                    aria-haspopup="true" aria-expanded="false">
                                                                <i class="fas fa-bars"></i>
                                                            </button>
                                                            <div class="dropdown-menu">
                                                                <a class="dropdown-item" href="@item.PrescriptionIcon" target="_blank">Afficher l'ordonnance téléchargée</a>
                                                                <a class="dropdown-item" href="~/Prescription/PrescriptionDetails?pId=@item.PrescriptionRecordId">Voir la demande</a>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    ctr++;
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#dtPrescriptionList').DataTable({
                "info": true,
                "lengthChange": false,
                "searching": true,
                "language": {
                    "info": "Afficher de _START_ à _END_ sur _TOTAL_ entrées",
                    "emptyTable": "Aucune donnée disponible dans le tableau",
                    "infoEmpty": "Affichage 0 à 0 sur 0 entrées",
                    "search": "Cherchez:",
                    "paginate": {
                        "first": "Premier",
                        "last": "Dernier",
                        "next": "Suivant",
                        "previous": "Précédent"
                    }
                },
            });
            $('.dataTables_length').addClass('bs-select');
        });

        function changeStatus(pid, stat) {
            var parameters = {
                ProductRecordId: pid,
                ProductStatus: stat
            };

            $.ajax(
                {
                    type: 'POST',
                    url: BASEPATH + '/Product/ChangeProductStatus',
                    contentType: 'application/json',
                    data: JSON.stringify(parameters),
                    beforeSend: function () {
                        $("#GenericModal").modal('show');
                        $("#GenericModalTitle").text("Merci de patienter");
                        $("#savingGenericLoader").show();
                    },
                    success: function (result) {
                        window.location.replace(BASEPATH + "/Product/");
                    },
                    failed: function (e, x, h) {
                        console.log(e); console.log(h); console.log(x);
                    }
                }
            );
        }
    </script>
}
