@model PharmaMoov.Models.User.UserChangePassword
@using PharmaMoov.Admin.Helpers
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor _httpCtxtAc;
@using PharmaMoov.Models.Admin;
@{
    ISession session = _httpCtxtAc.HttpContext.Session;
    var _adminUCtxt = session.GetObjectFromJson<AdminUserContext>("adminUserContext");

    ViewData["Title"] = "Modifier le mot de passe ";
    if (_adminUCtxt != null)
    {
        if (_adminUCtxt.AdminInfo.UserTypeId == PharmaMoov.Models.UserTypes.SUPERADMIN)
        {
            Layout = "~/Views/Shared/_SALayout.cshtml";
        }
        else
        {
            Layout = "~/Views/Shared/_Layout.cshtml";
        }
    }
}
<partial name="~/Views/Shared/_GenericModal.cshtml" />
<div class="row p-3 p-lg-5">
    <div class="col-sm-12">
        <nav aria-label="breadcrumb">
            <h3 class="mb-4">Modifier le mot de passe </h3>
        </nav>
        <form method="post">
            <div class="md-form md-outline">
                <div asp-validation-summary="ModelOnly" class="text-warning"></div>
                @if (TempData["ErrorMessage"] != null)
                {
                    <span class="label-error text-danger">@TempData["ErrorMessage"]</span>
                }
                @if (TempData["SuccessMessage"] != null)
                {
                    <span class="text-success">@TempData["SuccessMessage"]</span>
                }
                <br />
                @if (_adminUCtxt != null)
                {
                    if (_adminUCtxt.AdminInfo.IsVerified == false)
                    {
                        <span class="label-error text-danger small">Changer votre mot de passe pour vérifier votre compte</span>
                    }
                }
            </div>
            <div class="card">

                <div class="card-body">

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label>Mot de passe actuel</label>
                                <input type="password" class="form-control" autocomplete="off" asp-for="CurrentPassword">
                                <span asp-validation-for="CurrentPassword" class="label-error text-danger small"></span>
                            </div>
                            <div class="form-group">
                                <label>Nouveau mot de passe</label>
                                <input type="password" class="form-control" autocomplete="off" asp-for="NewPassword">
                                <span asp-validation-for="NewPassword" class="label-error text-danger small"></span>
                            </div>
                            <div class="form-group">
                                <label>Confirmer le mot de passe</label>
                                <input type="password" class="form-control" autocomplete="off" asp-for="ConfirmPassword">
                                <span asp-validation-for="ConfirmPassword" class="label-error text-danger small"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-4 mb-4">
                        <div class="col-sm-12">
                            @if (_adminUCtxt.AdminInfo.UserTypeId == PharmaMoov.Models.UserTypes.SUPERADMIN)
                            {
                                <a class="btn white-button mr-3 btn-padding" href="@Url.Action("Dashboard", "SAdmin")">Annuler</a>
                            }
                            else
                            {
                                <a class="btn white-button mr-3 btn-padding" href="@Url.Action("Dashboard", "Shop")">Annuler</a>
                            }

                            <button class="btn login-button mr-3 btn-padding" type="submit">Sauvegarder</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">
    $("#successBtn").on('click', function () {
        if ("@ViewBag.SuperAdmin" == "True") {
            window.location.replace(BASEPATH + "/SAdmin/Dashboard");
        }
        else {
            window.location.replace(BASEPATH + "/Shop/Dashboard");
        }    
    });

    </script>
}